*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*============================
        google font
==============================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');
/*============================
        google font
==============================*/

body{
    font-family: 'Open Sans', sans-serif;
}
hr {
    border: 1px solid #2a2a2a;
}
/*=============================
        container start
===============================*/
.container {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    margin: 2% auto;
    border-radius: 10px;
}
/*=============================
        container close
===============================*/

/*===========================
      header-container start
=============================*/
.header-container {
    background: #161616;
    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    position: relative;
    border-radius: 20px;
}
.header-content h1 {
    color: #ffffff;
    width: 415px;
    font-size: 65px;
}

.header-content p {
    width: 410px;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    padding: 15px 0px;
}

.header-content button {
    border: none;
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    background: red;
    font-size: 20px;
    color: white;
    text-transform: capitalize;
}
.banner-img img {
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 455px
}
/*===========================
      header-container end
=============================*/

.blog-thumble {
    display: flex;
    align-items: center;
}
.blog-thumble p {
    padding: 0px 10px;
}

.blog-thumble img {
    width: 30%;
    margin: auto;
}
.match-blog h2 {
    font-size: 20px;
    color: #302c2c;
    text-align: center;
    padding: 10px 0px;
}

.match-blog .date {
    color: black;
    text-align: center;
}









.match {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.match-content{
    display: grid;
    grid-template-columns: 200px repeat(1,1fr);
    grid-gap: 10px;
}
.match-blgo-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.match-info {
    background: #161616;
    color: white;
    height: 200px;
    border-radius: 10px;
    position: relative;
}
.match-info ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.match-info ul li {
    list-style: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: black;
}
.match-info ul li:last-child{
    background-color: #DD0000;
    color: white;
}
.match-blog {
    border-radius: 10px;
    border: 1px solid #e9e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}


.match-details{
    margin-left: 10px;
    padding: 10px 0px;
}


.match-details button{
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}
.match-details h3{
    width: 80%;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 0px;
    line-height: 1.3;
}
.match-duration{
    display: flex;
}
.match-duration p{
    margin-right: 10px;
}
.match-details {
    color: rebeccapurple;
    padding: 15px;
}

.match-details button {
    width: 150px;
    padding: 5px;
    font-size: 20px;
    text-transform: capitalize;
    background: white;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

.match-details h3 {
    text-transform: capitalize;
    padding: 10px 0px;
    color: #363636;
    font-size: 18px;
    width: 100%;
}


.match-duration {
    display: flex;
}

.match-duration p {
    margin-right: 15px;
    color: #3a3838;
}

.match-duration i {
    color: red;
}
/*===================================================
          ------------footer---------
===================================================*/
footer {
    background: #161616;
    padding: 5% 0%;
    margin-top: 5%;
}
.footer-continer{
    max-width: 1200px;
    margin: auto;
}
.footer-manu ul{
    display: flex;
    justify-content: space-around;
}
.footer-manu ul li{
    list-style: none;
    font-size: 20px;
    color: #7e7a7a;
    text-transform: capitalize;
}
.footer-manu {
    width: 70%;
    margin: 3% auto;
}
.social-media {
    text-align: center;
}
.social-media i {
    padding: 0px 25px;
    font-size: 25px;
    color: white;
}
.footer-goal h1 {
    color: white;
    text-transform: capitalize;
    font-size: 45px;
    text-align: center;
    padding: 3% 0%;
}
.footer-manu ul li:hover{
    color: white;
    cursor: pointer;
}
/*===================================================
            ------------footer---------
===================================================*/

/*============================
  media Mobile screen start
==============================*/

@media screen and (max-width:700px) {
    /*=========================
------------header-container start-----------
    ===========================*/
.header-container{
    display: block;
}
.header-content{
    background-color: #161616;
    text-align: center;
    padding: 10px 0px;
}
.header-content h1{
    font-size: 40px;
    width: 355px;
    margin: auto;
    color: white;
}
.header-content p{
    color: white;
    width: 348px;
    margin: auto;
    padding: 15px 0px;
    line-height: 1.5;
    font-size: 18px;
    padding: 10px 0px;
}
.header-content button{
    width: 170px;
    padding: 10px;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DD0000;
    color: white;
}

.header-container {
    padding: 0px;
}
.banner-img img {
    width: 310px;
    margin-right: -82px;
}
    /*=========================
        header-container end
    ===========================*/

/*match start*/
.match-content{
    display: block;
}
.match-info{
    width: 100%;
    background: white;
}
.match-info ul{
    width: 100%;
    margin: auto;
}
.match-blgo-content {
    display: block;
    margin: 10px 0px;
}
.match-info ul li{
    
width: 70%;
    
border: 1px solid #d7d3cc;
    
margin: 15px auto;
}
/*------------------------------------------*/
               /* match end */
/*-----------------------------------------*/


/*===================================================
          ------------footer---------
===================================================*/
.footer-manu ul{
    display: block;
    text-align: center;
}
.footer-manu ul li{
    padding: 10px 0px;
}
/*===================================================
          ------------footer---------
===================================================*/
}


/*==============================
media Tablate screen start
================================*/

@media screen and (min-width:701px) and (max-width:991px) {
    /*=========================
        header-container start
    ===========================*/
.header-content h1{
    font-size: 40px;
}
    .header-container {
    height: 500px;
}
.banner-img img{
    width: 360px;
    right: 0;
}
    /*=========================
      media Tablate screen end
    ===========================*/

    /* match */
    .match-content{
        display: block;
        background-color: white;
    }
    .match-info{
        background-color: #ffffff;
    }
    .match-info ul{

width: 100%;

text-align: center;

}
    .match-info ul li{
        display: inline-block;
        border: 1px solid black;
        width: 190px;
    }
    .match-blgo-content{
        grid-template-columns: repeat(2,1fr);
    }
    /* match */



/*====================================================
-------------extra only for medium screen-------------
======================================================*/
section.only-medium-screen {
    display: block;
}
.medium-screen-content button a{
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    color: white;
}
.medium-screen-content button {
    width: 200px;
    padding: 20px;
    background-color: #DD0000;
    border: none;
    border-radius: 10px;
}
.medium-screen-content button:hover {
    background-color: rgb(226, 68, 68);
}
/*===================================================
--------------extra only for medium screen-----------
====================================================*/



/*===================================================
          ------------footer---------
===================================================*/
    .footer-manu ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        gap: 30px 0px;
    }

    }


/*===================================================
          ------------footer---------
===================================================*/
/*==============================
Tablate screen media query end
================================*/



